.picture-game-field {
  padding: 11px;
  color: $main-color;

  .picture-game-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
  }

  .home-btn {
    position: relative;
    width: 35px;
    height: 35px;
    align-self: flex-start;
    background-color: transparent;
    color: $main-color;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      border-color: $second-color;
    }
    &:hover::before,
    &:hover::after{
      background-color: $second-color;
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      width: 17px;
      height: 3px;
      border-radius: 40px;
      background-color: $main-color;
      transition: all 0.3s ease;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  .question {
    margin: 30px 0px 50px;
    font-size: 22px;
    font-weight: 500;
    align-self: flex-start;
  }

  .question-image {
    border-radius: 20px;
    overflow: hidden;

    img {
      width: 328px;
      height: 294px;
      border-radius: 20px;
    }
  }

  .picture-answer-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    gap: 10px 0px;

    .picture-answer {
      width: 165px;
      height: 165px;
      border-radius: 20px;

      background-size: 168px 168px ;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    .picture-answer.correct {
      filter: invert(46%) sepia(21%) saturate(1191%) hue-rotate(94deg) brightness(92%) contrast(89%);
    }
    .picture-answer.incorrect {
      filter: invert(54%) sepia(90%) saturate(2694%) hue-rotate(331deg) brightness(100%) contrast(102%);
    }
  }
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 70px 16px;
  background-color: #000000f7;
  border: 1px solid $main-color;
  border-radius: 20px;

  z-index: 10;

  &.hide {
    opacity: 0;
    top: 60%;
  }

  & > .indicator {
    position: relative;
    align-self: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;

    &.correct {
      background-color: seagreen;
    }
    &.incorrect {
      background-color: tomato;
    }
  }
}

.win-popup {
  position: absolute;
  width: 360px;
  height: 640px;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transform: translate(-50%, -50%);
  padding: 16px;
  border-radius: 20px;
  background-color: $main-color;
  color: $black-page-color;
  z-index: 10;

  .answer-btn {
    color: $black-page-color;
    border-color: $black-page-color;
  }

  .answer-btn:hover {
    border-color: $second-color;
    background-color: $second-color;
  }

  .result-count {
    font-size: 48px;
    font-weight: 700;
  }

  .result-medal {
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    
    &.grand {
      background-image: url("./assets/grand-result.png");
    }
    &.greate {
      background-image: url("./assets/greate-result.png");
    }
    &.game-over {
      background-image: url("./assets/game-over.png");
    }
  }
}

.answer-btn {
  width: 158px;
  height: 48px;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  color: $main-color;
}
