.main-screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  background-image: url('./assets/main-bg.png');
  background-size: cover;
  background-position: 30% 0%;
}

.logo {

  &-image {
    width: 166px;
    height: 62px;
  }
}

.setting {
  margin-left: auto;
  margin-bottom: auto;
  fill: $main-color;
  cursor: pointer;
  transition: all 0.3s ease;

  & > svg{
    pointer-events: none;
  }

  &:hover {
    fill: $second-color;
  }
}

.quiz-btn--container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.start-btn {
  width: 270px;
  height: 56px;
  line-height: 200%;
  background-color: transparent;
  color: $main-color;
  transition: all 0.3s ease;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $main-color;
  font-size: 14px;
}
