.setting-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  background-color: $black-page-color;
  color: $main-color;

  .setting-nav {
    width: 50%;
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0px;

    .text {
      margin-left: 92px;
    }

    .settings-btn--close {
      width: 29px;
      height: 29px;
      outline: none;
      border: none;
      background-color: transparent;
      cursor: pointer;
      fill: $main-color;
      transition: fill 0.3s ease;

      &:hover {
        fill: $second-color;
      }

      & > svg {
        pointer-events: none;
      }
    }
  }

  .text {
    font-size: 24px;
    font-weight: 500;
  }

  h2 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 40px;
  }

  #volume-slider {
    -webkit-appearance: none;
    width: inherit;
    height: 3px;
    background: #ffbca2;
    outline: none;
    border-radius: 15px;
  }
  
  /* for chrome/safari */
  #volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
  }

  .volume-icons {
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .muted-icon {
      width: 26px;
      height: 18px;
      background: url("./assets/volume-off.png");
      background-repeat: no-repeat;
      background-size: cover;
    }

    .volume-icon {
      width: 18px;
      height: 18px;
      background: url("./assets/volume-on.png");
      background-repeat: no-repeat;
      background-size: contain;
    } 
  }

  .timer-checkbox--container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;

    label {
      cursor: pointer;
    }
  }

  #timer-input {
    position: relative;
    -webkit-appearance: none;
    appearance: none;

    &::before {
      position: absolute;
      content: "";
      top: -11px;
      left: 0;
      width: 42px;
      height: 24px;
      border-radius: 25px;
      background-color: $second-color;
      cursor: pointer;
    }

    &::after {
      position: absolute;
      content: "";
      top: -7px;
      left: 5px;
      width: 16px;
      height: 16px;
      border-radius: 25px;
      background-color: $main-color;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }

    &:checked::after {
      left: 22px;
    }
  }

  .timer-counter--container {
    display: flex;
    align-items: center;
    gap: 25px;

    .timer-otput {
      width: 28px;
      height: 28px;
      line-height: 28px;
      text-align: center;
      color: $main-color;
      background: none;
      outline: none;
      cursor: default;
    }
    
    button {
      position: relative;
      width: 36px;
      height: 36px;
      background-color: $main-color;
      color: $black-page-color;
      border-radius: 50%;
      border: none;
      outline: none;
      cursor: pointer;
      transition: background 0.3s ease-in-out;

      &:hover {
        background-color: $second-color;
      }
    }
    
    .minus-btn:before {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(36px / 2);
      height: 3px;
      border-radius: 5px;
      background-color: $black-page-color;
    }
    
    .plus-btn:before, .plus-btn:after {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(36px / 2);
      height: 3px;
      border-radius: 5px;
      background-color: $black-page-color;
    }
    
    .plus-btn:after {
      top: 45%;
      left: 25%;
      transform: rotate(90deg);
    }
  }

  .setting-btns {
    display: flex;
    justify-content: flex-end;
    gap: 20px;

    .set-btns {
      width: 156px;
      height: 56px;
      background-color: transparent;
      color: $main-color;
    }
    
    .default-btn {
      border: 1px solid $main-color;
      border-radius: 56px;
      text-align: center;
      outline: none;
      cursor: pointer;
      font-size: 24px;
    
      transition: all 0.5s ease;
    }
    
    .default-btn:hover {
      background-color: $main-color;
      color: $second-color;
    }
    
    .default-btn:active {
      border-color: $second-color;
      background-color: $second-color;
      color: #000;
    }
  }
  
}