$main-color: #fff;
$second-color: #ffbca2;
$black-page-color: #010101;

body > * {
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: $black-page-color;
  font-family: 'Poppins', sans-serif;

  *::selection {
    background-color: $main-color;
    color: $second-color;
  }
}

.container {
  width: 360px;
  height: 640px;
  margin: 0 auto;
  padding: 22px;
}

.default-btn {
  border: 1px solid $main-color;
  border-radius: 56px;
  text-align: center;
  outline: none;
  cursor: pointer;
  font-size: 24px;
}

.default-btn:hover {
  background-color: $main-color;
  color: $second-color;
}

.default-btn:active {
  border-color: $second-color;
  background-color: $second-color;
  color: $black-page-color;
}

.hide {
  opacity: 0;
  // transform: translateX(-30%);
}

@import "./styles/mainScreen";
@import "./styles/settingScreen";
@import "./styles/artistScreen";
@import "./styles/gameCycle";
@import "./styles/gamePictureCycle";
@import "./styles/timer";
@import "./styles/scoreScreen";